* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-cormorant), Georgia, serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cormorant), Georgia, serif;
  font-weight: 700;
}

.font-cormorant-regular {
  font-family: var(--font-cormorant);
  font-weight: 400;
}

.font-cormorant-bold {
  font-family: var(--font-cormorant);
  font-weight: 700;
}

